/* CSS GENERAL*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* COMIENZO M0VIL*/
@media all and (max-width:414px) {
    /*COMIENZO HEADER*/

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header img {
        width: 100%;

header h1 {
    display: block;
    font-size: 42px;
    margin-left: 6px;
    margin-top: 27px;
}


    header figure {
        width: 15%;

    }

#menu {
    color: #d6d6d6 !important;
    display: inline-block;
}

    }

#contenedor-enlaces {
    background-color: #d6d6d6 !important;
    padding-top: 2px;
    max-width: 20vw;
    min-width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
    border-right: 3.5px solid red;
    transition: 0.5s;
}

    #cerrar-sesion:hover {
        background-color: red;
        transition: 0.6s;
    }

#contenedor-enlaces a:visited {
    color: black;
} */


/* #contenedor-enlaces li:hover {
    background-color: rgb(232, 68, 68);
} */

#contenedor-enlaces .inicio a:hover  {
    font-size: 32px;
    transition: 0.8s;
}

#contenedor-enlaces .cuentas a:hover  {
    font-size: 32px;
    transition: 0.8s;
}

#contenedor-enlaces .transf a:hover  {
    font-size: 30px;
    transition: 0.8s;
}

#contenedor-enlaces .pagos a:hover  {
    font-size: 32px;
    transition: 0.8s;
}

#contenedor-enlaces .prestamos a:hover  {
    font-size: 32px;
    transition: 0.8s;
}

#abrir,
#cerrar {
    display: none;
}

main {
    background: #e9e4e4;
}

#cont {
    height: 100vh;
    float: right;
    margin: 0vw 10vw 0vw 0vw;
}

#montoActual {
    margin: 1vw 0vw 0vw 0.5vw;
}

#montoActual p {
    font-size: 1vw;
    margin-bottom: 15px;
}

.container {
    display: block;
    margin-top: 2vw;
    margin-bottom: 20px;
    height: 4vw;
    width: 20vw;
    border-radius: 10px;
    background: white;
    text-align: center;
    line-height: 4vw;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.info {
    margin-bottom: 15px;
    height: 150px;
    width: 60vw;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    border-radius: 5px;
}

h2 {
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(97, 97, 97);
}

@media all and (min-width:1080px) {

    /*COMIENZO MENU */

    #menu #abrir {
        width: 50px;   
    }

    #menu #cerrar {
        width: 40px;
        padding-left: 8px; 
        margin-bottom: 10px;  
    }


    #menu #cerrar {
        display: none;
    }

    #menu #contenedor-enlaces {
        height: 0;
        /*altura cambia a cero*/
        transition: height 1s ease;
        /*Efecto de transisición*/
        overflow: hidden;
        /*oculta lo que sobre salga*/
        
    }

    #contenedor-enlaces ul {
        padding: 0;
        list-style: none;
    }

    #contenedor-enlaces a {
        display: block;
        width: 100%;
        margin-bottom: 0.25em;
        margin-top: 0.25em;
        text-decoration: none;
        background-color: grey;
        padding: 1em;
        /*genera espacio a la vuelta, lo hace mas "tocable"*/
        color: black;
        font-size: 1.2rem;
        
    }

    #menu:target #abrir {
        display: none;
        /*oculta la imagen de hamburguesa*/
    }

    #menu:target #cerrar {
        display: block;
        /*muestra la imagen de x*/
    }

    #menu:target #contenedor-enlaces {
        height: 40vh;
        transition: height 1.5s ease;
    }



    /*FIN MENU */
    /*COMIENZO FOOTER*/
    footer {
        display: flex;
        flex-direction: row;
        background-color: #dedfe0;
    }

    #cond {
        width: 33%;
        display: flex;
        justify-content: start;
    }

    #cond ul {
        display: flex;
        flex-direction: column;
        padding: 1em;

    }

    #cond ul li {
        list-style: none;
        margin: 3px;
    }

    #cond ul li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    #logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }

    #logo img {
        width: 100%;

    }

    #logo figure {
        width: 60px;

    }

    #logo h1 {
        font-size: 20px;
    }

    #redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 33%;

    }

    #redes ul {
        display: flex;
        flex-direction: row;
        margin-top: 0.5em;

    }

    #redes ul li {
        margin: 0.5em;
        list-style: none;

    }

    #redes ul li img {
        width: 3vh;

    }

    #redes h4 {
        font-size: 25px;
    }
}