/* CSS GENERAL*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
    text-decoration: none;
	border: none;
	outline: none;
}

    
    header {
        display: flex;
        max-width: 100%;
        max-height: 105px;
        min-height: 105px;
        align-content: center;
        border-bottom: 5px solid red;
        border-radius: 5px;
    }


    header img {
        max-width: 105px;
        min-width: 105px;
    }


    header h1 {
        display: block;
        font-size: 42px;
        margin-left: 6px;
        margin-top: 27px;
    }
    

    header figure {
        max-width: 110px;
        max-height: 110px;
        left: 20px;
        
    }


    #menu {
        float:left;
        display: inline-block;
    }

    #menu img {
        display: none;
    }

    #contenedor-enlaces {
        padding-top: 50px;
        max-width: 275px;
        min-width: 275px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;   
        border-right: 3.5px solid red;
        background-color: rgb(255, 255, 255);
        transition: 0.5s;
        float: left;
    }

    #contenedor-enlaces:hover {
        min-width: 290px;
        transition: 0.5s;
    }


    #contenedor-enlaces li {
        height: 60px;
        line-height: 60px;
        list-style: none;
        text-decoration: none;
        font-size: 28px;  
        font-family: 'Inconsolata', monospace;
        font-weight: 600;
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 15px;
        background-color: rgb(233, 92, 92);
        border-radius: 3px;
        box-shadow: 0px -3px 3px rgb(204, 1, 1) inset,
        0px 3px 3px rgb(204, 1, 1) inset;
        
    }

    #contenedor-enlaces a:link {
        color: black;
    }

    #contenedor-enlaces a:visited {
        color: black;
    }

  
    #contenedor-enlaces li:hover {
        background-color: rgb(232, 68, 68);
    }

    #contenedor-enlaces .inicio a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 140px;
        
    }
    #contenedor-enlaces .cuentas a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 125px;
        
    }
    #contenedor-enlaces .transf a:hover  {
        font-size: 30px;
        transition: 0.8s;
        padding-left: 45px;
        
    }
    #contenedor-enlaces .pagos a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 157px;
        
    }
    #contenedor-enlaces .prestamos a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 93px;
        
    }

    
    .prestamo-menu {
        color: white;
        background-color: darkred;
        padding: 10%;
        padding-left: 25%;
        padding-bottom: 25%;
        display: flex;
        flex-direction: column;
    }

    #Personal
    {
        margin-left: 150px;
    }

    #Emprendimiento
    {
        margin-left: 65px;
    }

    #Capital
    {
        margin-left: 52px;
    }

    h2
    {
        color: lightblue;
    }

    button
    {
        color: white;
        width: 175px;
        height: 25px;
        border-radius: 5px;
        background-color: blue;
        margin-top: 50px;
    }

    #confirmacion
    {
        margin-top: 50px;
        color:white;
    }


    #abrir,
    #cerrar {
        display: none;
    }