/* CSS GENERAL*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
    text-decoration: none;
	border: none;
	outline: none;
}

    
    header {
        display: flex;
        max-width: 100%;
        max-height: 105px;
        min-height: 105px;
        align-content: center;
        border-bottom: 5px solid red;
        border-radius: 5px;
    }


    header img {
        max-width: 105px;
        min-width: 105px;
    }


    header h1 {
        display: block;
        font-size: 42px;
        margin-left: 6px;
        margin-top: 27px;
    }
    

    header figure {
        max-width: 110px;
        max-height: 110px;
        left: 20px;
        
    }


    #menu {
        float:left;
        display: inline-block;
    }

    #menu img {
        display: none;
    }

    #contenedor-enlaces {
        padding-top: 50px;
        max-width: 275px;
        min-width: 275px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;   
        border-right: 3.5px solid red;
        background-color: rgb(255, 255, 255);
        transition: 0.5s;
        float: left;
    }

    #contenedor-enlaces:hover {
        min-width: 290px;
        transition: 0.5s;
    }


    #contenedor-enlaces li {
        height: 60px;
        line-height: 60px;
        list-style: none;
        text-decoration: none;
        font-size: 28px;  
        font-family: 'Inconsolata', monospace;
        font-weight: 600;
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 15px;
        background-color: rgb(233, 92, 92);
        border-radius: 3px;
        box-shadow: 0px -3px 3px rgb(204, 1, 1) inset,
        0px 3px 3px rgb(204, 1, 1) inset;
        
    }

    #contenedor-enlaces a:link {
        color: black;
    }

    #contenedor-enlaces a:visited {
        color: black;
    }

  
    #contenedor-enlaces li:hover {
        background-color: rgb(232, 68, 68);
    }

    #contenedor-enlaces .inicio a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 140px;
        
    }
    #contenedor-enlaces .cuentas a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 125px;
        
    }
    #contenedor-enlaces .transf a:hover  {
        font-size: 30px;
        transition: 0.8s;
        padding-left: 45px;
        
    }
    #contenedor-enlaces .pagos a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 157px;
        
    }
    #contenedor-enlaces .prestamos a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 93px;
        
    }

    .prestamo-menu {
        background-color: white;
        margin: 3% 30% 5% 30%;
        display: flexbox;
        flex-direction: column;
        box-shadow: 10px 8px 8px darkgrey;
        border: solid #ff1111;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    h2
    {
        font-size: larger;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
 
    #titulo{
        text-align: center;
        font-size: 20px;
        padding-bottom: 0%;
        margin-top: 3%;
        font-family: Arial, Helvetica, sans-serif;
    }

    #tituloPrestamo {
        color: white;
        background-color: #fc1717e2;
        text-align: center;
        display: block;
        font-size: 50px;
        margin-left: 6px;
        margin-top: 0px;
        padding: 2%;
        text-shadow: 1px 2px 5px rgb(166, 17, 12);

    }

    #Personal
    {
        margin-left: 150px;
        
    }

    #Emprendimiento
    {
        margin-left: 65px;
    }

    #Capital
    {
        margin-left: 52px;
    }

    p
    {
        margin-top: 1%;
        margin-bottom: 0%;
        padding-left: 5%;
        margin-right: 5%;
        font-size: medium;
    }

    button
    {
        color: white;
        width: 175px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(245, 34, 34);
        margin-top: 25px;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.719);
    }

    button:hover{
        background-color: rgb(238, 75, 75);
    }

    #confirmacion
    {
        margin-top: 50px;
        color:black;
    }

    footer {
        margin: auto;
        display: flex;
        flex-direction: row;
        border-top: red solid;
        padding-bottom: 10px;
    }
    #cond {
        width: 33%;
        display: flex;
        justify-content: start;
    }

    #cond ul {
        display: flex;
        flex-direction: column;
        padding: 1em;

    }

    #cond ul li {
        list-style: none;
        margin: 3px;
    }

    #cond ul li a {
        text-decoration: none;
        color: black;
    }

    #logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }

    #logo img {
        width: 100%;

    }

    #logo figure {
        width: 60px;

    }

    #logo h1 {
        font-size: 30px;
    }

    #redes {
        display: flexbox;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 33%;

    }

    #redes ul {
        display: flex;
        flex-direction: row;

    }

    #redes ul li {
        margin: 1em;
        list-style: none;
    }

    #redes ul li img {
        width: 3vh;

    }

    #redes h4 {
        font-size: 25px;
    }

    @media screen and (max-device-width:850px) and (max-device-height:1280px) {
        footer {
            display: flexbox;
            font-size:small;
        }

        #logo img {
            width: 90%;
    
        }
    
        #logo figure {
            width: 50px;
    
        }
    
        #logo h1 {
            font-size: 20px;
        }

        #redes ul {
            display: block;
            width: auto;
            
        }
        .prestamo-menu {
            background-color: white;
            margin: 10%;
            margin-top: 6%;
            display: flexbox;
            flex-direction: column;
        }

    }


    #abrir,
    #cerrar {
        display: none;
    }

    @media all and (min-width:1080px) {

        /*COMIENZO MENU */
      
        #menu img {
          width: 10vw;
      }
      
      #menu #cerrar {
          display: none;
      }
      
      #menu #contenedor-enlaces {
          height: 0;
          /*altura cambia a cero*/
          transition: height 1s ease;
          /*Efecto de transisición*/
          overflow: hidden;
          /*oculta lo que sobre salga*/
      }
      
      #contenedor-enlaces a {
          display: block;
          width: 100%;
          margin-bottom: 0.25em;
          margin-top: 0.25em;
          text-decoration: none;
          background-color: grey;
          padding: 1em;
          /*genera espacio a la vuelta, lo hace mas "tocable"*/
          color: black;
          font-size: 1.2rem;
      }
      
      #menu:target #abrir {
          display: none;
          /*oculta la imagen de hamburguesa*/
      }
      
      #menu:target #cerrar {
          display: block;
          /*muestra la imagen de x*/
      }
      
      #menu:target #contenedor-enlaces {
          height: 40vh;
          transition: height 1.5s ease;
      }
      
      /*FIN MENU */
      }
      
      @media all and (min-width:80px) {
              /*COMIENZO MENU */
      
          #menu img {
              width: 10vw;
          }
      
          #menu #cerrar {
              display: none;
          }
      
          #menu #contenedor-enlaces {
              height: 0;
              /*altura cambia a cero*/
              transition: height 1s ease;
              /*Efecto de transisición*/
              overflow: hidden;
              /*oculta lo que sobre salga*/
          }
      
          #contenedor-enlaces a {
              display: block;
              width: 100%;
              margin-bottom: 0.25em;
              margin-top: 0.25em;
              text-decoration: none;
              background-color: grey;
              padding: 1em;
              /*genera espacio a la vuelta, lo hace mas "tocable"*/
              color: black;
              font-size: 1.2rem;
          }
      
          #menu:target #abrir {
              display: none;
              /*oculta la imagen de hamburguesa*/
          }
      
          #menu:target #cerrar {
              display: block;
              /*muestra la imagen de x*/
          }
      
          #menu:target #contenedor-enlaces {
              height: 40vh;
              transition: height 1.5s ease;
          }
      
          /*FIN MENU */
          
      }