*{
	margin: 0;
	padding: 0;
	list-style: none;
    text-decoration: none;
	border: none;
	outline: none;
}

form{
    margin-right: 10%;
}

#titulo {
    margin-right: -20%;
    margin-left: -5%;
    background-color:rgb(239, 110, 110);
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    text-align: center;
    display: block;
    font-size: 50px;
    margin-left: 6px;
    margin-top: 27px;
    padding-top: 5px;
    padding-bottom: 25px;
    color:beige;
}

#continuar{
    /*box-shadow: 10px 10px 5px 0px rgba(199,174,174,0.75);*/
    height: 45px;        
    border-radius: 5px;
    padding: 3px 60px;
    background-color: rgb(245, 34, 34);
    box-shadow: darkgrey;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    cursor: pointer;
}
    
    header {
        display: flex;
        max-width: 100%;
        max-height: 105px;
        min-height: 105px;
        align-content: center;
        border-bottom: 5px solid red;
        border-radius: 5px;
    }


    header img {
        max-width: 105px;
        min-width: 105px;
    }


    header h1 {
        display: block;
        font-size: 42px;
        margin-left: 6px;
        margin-top: 27px;
    }
    

    header figure {
        max-width: 110px;
        max-height: 110px;
        left: 20px;
        
    }


    /*#contenedor-enlaces {
        padding-top: 50px;
        max-width: 275px;
        min-width: 275px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;   
        border-right: 3.5px solid red;
        background-color: rgb(255, 255, 255);
        transition: 0.5s;
    }

    #contenedor-enlaces:hover {
        min-width: 290px;
        transition: 0.5s;
    }


    #contenedor-enlaces li {
        height: 60px;
        line-height: 60px;
        list-style: none;
        text-decoration: none;
        font-size: 28px;  
        font-family: 'Inconsolata', monospace;
        font-weight: 600;
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 15px;
        background-color: rgb(233, 92, 92);
        border-radius: 3px;
        box-shadow: 0px -3px 3px rgb(204, 1, 1) inset,
        0px 3px 3px rgb(204, 1, 1) inset;
        
    }

    #contenedor-enlaces a:link {
        color: black;
    }

    #contenedor-enlaces a:visited {
        color: black;
    }

  
    #contenedor-enlaces li:hover {
        background-color: rgb(232, 68, 68);
    }

    #contenedor-enlaces .inicio a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 140px;
        
    }
    #contenedor-enlaces .cuentas a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 125px;
        
    }
    #contenedor-enlaces .transf a:hover  {
        font-size: 30px;
        transition: 0.8s;
        padding-left: 45px;
        
    }
    #contenedor-enlaces .pagos a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 157px;
        
    }
    #contenedor-enlaces .prestamos a:hover  {
        font-size: 32px;
        transition: 0.8s;
        padding-left: 93px;
        
    }*/

    /*Menú*/
    
    #menu {
        float: left;
        display: inline-block;
    }

    #menu img {
        display: none;
    }
    #menu img {
        width: 4vw;
    }


    #menu #cerrar {
        display: none;
    }


    #menu #contenedor-enlaces {
        height: 0%;
        /*altura cambia a cero*/
        transition: height 1s ease;
        /*Efecto de transisición*/
        overflow: hidden;
        /*oculta lo que sobre salga*/
    }


    #contenedor-enlaces a {
        display: block;
        width: 100%;
        margin-bottom: 0.25em;
        margin-top: 0.25em;
        text-decoration: none;
        background-color: grey;
        padding: 1em;
        /*genera espacio a la vuelta, lo hace mas "tocable"*/
        color: black;
        font-size: 1.2rem;
    }


    #menu:target #abrir {
        display: none;
        /*oculta la imagen de hamburguesa*/
    }


    #menu:target #cerrar {
        display: block;
        /*muestra la imagen de x*/
    }


    #menu:target #contenedor-enlaces {
        height: 40vh;
        transition: height 1.5s ease;
    }

    /*Menú*/

    .menu-transacciones
    {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        margin-top: -36px;
        /*padding-top: 100px;*/
        padding-bottom: 1%;
        background-color: rgb(255, 255, 255);
    }

    #montoIngresar, #receptor, #remitente, #metodo, .importes
    {
        background-color: rgba(241, 7, 7, 0.388);
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        padding: 0%;
        margin: 2%;
        text-align: center;
        font-size: 20px
        
    }

    /*select
    {
        margin-left: 5px;
        border-radius: 5px;
        text-align: center;
        border: 3px solid lightcoral;
        background-color: lightblue;
    }*/

    input, select
    {
        display: block;
        margin: auto;
        text-align: center;
        border: 3px solid lightcoral;
        text-align: center;
        padding: 0px 0px;
        background-color: white;
        border-radius: 2%;
    }

    

    /*#montoIngresar
    {
        background-color: lightcoral;
        display:block;
        border-radius: 5px;
        padding: 10px 10px 10px 10px;
        margin: 10px;

    }
    
    #receptor
    {
        background-color: lightcoral;
        display:block;
        border-radius: 5px;
        padding: 10px 10px 10px 10px;
        margin: 10px;
    }

    #remitente
    {
        background-color: lightcoral;
        display:block;
        border-radius: 5px;
        padding: 10px 80px 10px 100px;
        margin: 10px;
    }

    #metodo 
    {
        background-color: lightcoral;
        display:block;
        border-radius: 5px;
        padding: 10px 15px 10px 15px;
        margin: 10px;
    }*/

    #botonContinuar
    {
        align-items: center;
        margin: auto;
    }

    #continuar
    {
        padding-left: 20%;
        width: 100%;
        height: 25%;
        align-items: center;
        background-color: lightcoral;
        display:block;
        border-radius: 5%;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
    }
    #continuar:hover{
        background-color: rgb(239, 110, 110);
    }

    footer {
        margin: auto;
        display: flex;
        flex-direction: row;
        border-top: red solid;
        padding-bottom: 10px;
    }
    #cond {
        width: 33%;
        display: flex;
        justify-content: start;
    }

    #cond ul {
        display: flex;
        flex-direction: column;
        padding: 1em;

    }

    #cond ul li {
        list-style: none;
        margin: 3px;
    }

    #cond ul li a {
        text-decoration: none;
        color: black;
    }

    #logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }

    #logo img {
        width: 100%;

    }

    #logo figure {
        width: 60px;

    }

    #logo h1 {
        font-size: 30px;
    }

    #redes {
        display: flexbox;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 33%;

    }

    #redes ul {
        display: flex;
        flex-direction: row;

    }

    #redes ul li {
        margin: 1em;
        list-style: none;
    }

    #redes ul li img {
        width: 3vh;

    }

    #redes h4 {
        font-size: 25px;
    }


    @media screen and (max-device-width:850px) and (max-device-height:1280px) {

        /*#menu
        {
            display: none;
            width: 25px;
            height: 25px;
        }
        .menu-transacciones
        {
            display: flexbox;
            margin: auto;
            margin-top: 0%;
        }

        #cerrar
        {
            display: inline-block;
        }*/

        footer {
            display: flexbox;
            font-size:small;
        }

        #logo img {
            width: 90%;
    
        }
    
        #logo figure {
            width: 50px;
    
        }
    
        #logo h1 {
            font-size: 20px;
        }

        #redes ul {
            display: block;
            width: auto;
            
        }

        input, select
        {
            display: block;
            margin: auto;
            border-radius: 5px;
            text-align: center;
            padding: 0px 0px;
            border-radius: 7px;
        }
        
        /*Menú*/
        #menu img {
            width: 10vw;
        }
    
        #menu #cerrar {
            display: none;
        }
    
        #menu #contenedor-enlaces {
            height: 0;
            /*altura cambia a cero*/
            transition: height 1s ease;
            /*Efecto de transisición*/
            overflow: hidden;
            /*oculta lo que sobre salga*/
        }
    
        #contenedor-enlaces a {
            display: block;
            width: 100%;
            margin-bottom: 0.25em;
            margin-top: 0.25em;
            text-decoration: none;
            background-color: grey;
            padding: 1em;
            /*genera espacio a la vuelta, lo hace mas "tocable"*/
            color: black;
            font-size: 1.2rem;
        }
    
        #menu:target #abrir {
            display: none;
            /*oculta la imagen de hamburguesa*/
        }
    
        #menu:target #cerrar {
            display: block;
            /*muestra la imagen de x*/
        }
    
        #menu:target #contenedor-enlaces {
            height: 40vh;
            transition: height 1.5s ease;
        }
    


    }

    /*#abrir,
    #cerrar {
        display: none;
    }*/