/* CSS GENERAL*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* COMIENZO M0VIL*/
@media all and (max-width:414px) {
    /*COMIENZO HEADER*/

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header img {
        width: 100%;

    }

    header figure {
        width: 15%;

    }

    header h1 {
        font-size: 42px;

    }

    #cerrar-sesion {   
        position: absolute;
        margin: 8em 0 0 60%;
        padding: 0.5em;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
    }

    #cerrar-sesion:hover {
        background-color: red;
        transition: 0.6s;
    }
}

    /*Menú*/
    
    #menu {
        float: left;
        
    }

    #menu img {
        display: none;
    }
    #menu img {
        width: 4vw;
    }


    #menu #cerrar {
        display: none;
    }


    #menu #contenedor-enlaces {
        height: 0%;
        /*altura cambia a cero*/
        transition: height 1s ease;
        /*Efecto de transisición*/
        overflow: hidden;
        /*oculta lo que sobre salga*/
    }


    #contenedor-enlaces a {
        display: block;
        width: 100%;
        margin-bottom: 0.25em;
        margin-top: 0.25em;
        text-decoration: none;
        background-color: grey;
        padding: 1em;
        /*genera espacio a la vuelta, lo hace mas "tocable"*/
        color: black;
        font-size: 1.2rem;
    }


    #menu:target #abrir {
        display: none;
        /*oculta la imagen de hamburguesa*/
    }


    #menu:target #cerrar {
        display: block;
        /*muestra la imagen de x*/
    }


    #menu:target #contenedor-enlaces {
        height: 40vh;
        transition: height 1.5s ease;
    }

    /*Menú*/

    .menu-transacciones
    {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        margin-top: -36px;
        padding-bottom: 1%;
        background-color: rgb(255, 255, 255);
    }

    #montoIngresar, #receptor, #remitente, #metodo, .importes
    {
        box-shadow: 10px 8px 8px darkgrey;
        border: solid #ff1111;
        border-top-style:inset ;
        border-width: 8px 3px;
        background-color: white;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 25px;   
        color: black;
        border-radius: 5px;
        padding: 0%;
        margin: 2%;
        margin-right: 15%;
        margin-left: 15%;
        box-shadow: 100% black;
    }


    /*select
    {
        margin-left: 5px;
        border-radius: 5px;
        text-align: center;
        border: 3px solid lightcoral;
        background-color: lightblue;
    }*/

    input, select
    {
        display: block;
        margin: auto;
        margin-bottom: 1%;
        text-align: center;
        border: 3px solid rgb(222, 22, 22);
        text-align: center;
        background-color: white;
    }

    #botonContinuar
    {
        align-items: center;
        margin: auto;
    }
    #continuar{
        color: white;
        box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.719);
        height: 45px;        
        border-radius: 5px;
        padding: 3px 60px;
        background-color: rgb(245, 34, 34);
        box-shadow: darkgrey;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 18px;
        font-weight: bold;
        cursor: pointer;
    }
    
    #continuar:hover{
        background-color: rgb(238, 75, 75);
    }

    footer {
        margin: auto;
        display: flex;
        flex-direction: row;
        border-top: red solid;
        padding-bottom: 10px;
    }
    #cond {
        width: 33%;
        display: flex;
        justify-content: start;
    }

    #cond ul {
        display: flex;
        flex-direction: column;
        padding: 1em;

    }

    #cond ul li {
        list-style: none;
        margin: 3px;
    }

    #cond ul li a {
        text-decoration: none;
        color: black;
    }

    #logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }

    #logo img {
        width: 100%;

    }

    #logo figure {
        width: 60px;

    }

    #logo h1 {
        font-size: 30px;
    }

    #redes {
        display: flexbox;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 33%;

    }

    #redes ul {
        display: flex;
        flex-direction: row;

    }

    #redes ul li {
        margin: 1em;
        list-style: none;
    }

    #redes ul li img {
        width: 3vh;

    }

    #redes h4 {
        font-size: 25px;
    }

    @media screen and (max-device-width:850px) and (max-device-height:1280px) {

        #montoIngresar, #receptor, #remitente, #metodo, .importes{
            margin-left: 5%;
            margin-right: 5%;
        }


        footer {
            display: flexbox;
            font-size:small;
        }

        #logo img {
            width: 90%;
    
        }
    
        #logo figure {
            width: 50px;
    
        }
    
        #logo h1 {
            font-size: 20px;
        }

        #redes ul {
            display: block;
            width: auto;
            
        }

        input, select
        {
            display: block;
            margin: auto;
            margin-bottom: 2%;
            border-radius: 5px;
            text-align: center;
            padding: 0px 0px;
        }
        
        /*Menú*/
        #menu img {
            width: 10vw;
        }
    
        #menu #cerrar {
            display: none;
        }
    
        #menu #contenedor-enlaces {
            height: 0;
            /*altura cambia a cero*/
            transition: height 1s ease;
            /*Efecto de transisición*/
            overflow: hidden;
            /*oculta lo que sobre salga*/
        }
    
        #contenedor-enlaces a {
            display: block;
            width: 100%;
            margin-bottom: 0.25em;
            margin-top: 0.25em;
            text-decoration: none;
            background-color: grey;
            padding: 1em;
            /*genera espacio a la vuelta, lo hace mas "tocable"*/
            color: black;
            font-size: 1.2rem;
        }
    
        #menu:target #abrir {
            display: none;
            /*oculta la imagen de hamburguesa*/
        }
    
        #menu:target #cerrar {
            display: block;
            /*muestra la imagen de x*/
        }
    
        #menu:target #contenedor-enlaces {
            height: 40vh;
            transition: height 1.5s ease;
        }
    


    }
